<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reversed Name</title>
<style>
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
background-color: #f8f9fa;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
h1 {
text-align: center;
margin-top: 20px;
font-size: 3rem;
color: #A020F0;
margin-right: 20px;
text-transform: uppercase;
letter-spacing: 2px;
}
p {
text-align: center;
font-size: 2rem;
margin-top: 20px;
color: #7469B6;

}
</style>
</head>
<body>
<div>
<h1>Reversed Name</h1>
<p><%= @reversed_name %></p>
</div>
</body>
</html>