body {
    font-family: Arial, sans-serif;
}

.calculator {
    width: 300px;
    margin: 100px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    /* Light Gray */
}

.display {
    width: calc(100% - 20px);
    /* 100% width minus 20px for padding */
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    /* White */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #f0f0f0;
    /* Light Gray */
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
    /* Darker Gray */
}

.equal-button {
    background-color: #FF5722;
    /* Orange */
    color: white;
}

.equal-button:hover {
    background-color: #F44336;
    /* Darker Orange */
}